

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-image: linear-gradient(to right, #09203F  , #537895);
  
}

/* Splashes STARTS HERE */

#splash1{
  width: 300px;
  height: 300px;
  background: 
    repeating-conic-gradient(#000 0 3%, #0000 0 11%),
    repeating-conic-gradient(#0000 0 5%, #000 0 7%) 50% / 60% 60%,
    repeating-conic-gradient(#0000 0 7%, #000 0 9%) 50% / 70% 9%,
    
    radial-gradient(#000 22%, #0000 0), 
    #fff;
  mix-blend-mode: darken;
  filter: blur(8px) contrast(100) brightness(1) grayscale(1);
  box-shadow: 0 0 0 50px #fff;
  rotate: 20deg;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#splash2{
  width: 300px;
  height: 300px;
  background:
    repeating-conic-gradient(#000 0 3%, #0000 0 11%),
    repeating-conic-gradient(#0000 0 5%, #000 0 7%) 50% / 60% 60%,
    repeating-conic-gradient(#0000 0 7%, #000 0 9%) 50% / 70% 70%,
    repeating-conic-gradient(#0000 0 11%, #000 0 12%) -113% / 80% 80%,
    radial-gradient(#000 22%, #0000 0),
    #fff;
  mix-blend-mode: darken;
  filter: blur(9px) contrast(100) brightness(1)  grayscale(1);
  box-shadow: 0 0 0 50px #fff;
  rotate: -20deg;
  position: fixed;
  top: 10%;
  right: 1%;
  z-index: -1;
}

#splash3{
  width: 300px;
  height: 300px;
  background:
    repeating-conic-gradient(#000 0 3%, #0000 0 11%),
    repeating-conic-gradient(#0000 0 5%, #000 0 7%) 50% / 60% 60%,
    repeating-conic-gradient(#0000 0 7%, #000 0 9%) 50% / 70% 70%,
    repeating-conic-gradient(#0000 0 11%, #000 0 12%) -113% / 80% 80%,
    radial-gradient(#000 22%, #0000 0),
    #fff;
  mix-blend-mode: darken;
  filter: blur(10px) contrast(100) brightness(1)  grayscale(1);
  box-shadow: 0 0 0 50px #fff;
  rotate: 50deg;
  position: fixed;
  bottom: 10%;
  right: 20%;
  z-index: -1;
}

#splash4{
  width: 300px;
  height: 300px;
  background:
    repeating-conic-gradient(#000 0 3%, #0000 0 11%),
    repeating-conic-gradient(#0000 0 5%, #000 0 7%) 50% / 60% 60%,
    repeating-conic-gradient(#0000 0 7%, #000 0 9%) 50% / 57% 70%,
    repeating-conic-gradient(#0000 0 12%, #000 0 11%) 50% / 80% 80%,
    radial-gradient(#000 22%, #0000 0),
    #fff;
  mix-blend-mode: darken;
  filter: blur(10px) contrast(100) brightness(1)  grayscale(1);
  box-shadow: 0 0 0 50px #fff;
  rotate: 50deg;
  position: fixed;
  top: 10%;
  left: 7%;
  z-index: -1;
}

#splash5{
  width: 300px;
  height: 300px;
  background: 
    repeating-conic-gradient(#000 0 3%, #0000 0 11%),
    repeating-conic-gradient(#0000 0 5%, #000 0 7%) 50% / 60% 60%,
    repeating-conic-gradient(#0000 0 7%, #000 0 9%) 50% / 70% 9%,
    
    radial-gradient(#000 22%, #0000 0), 
    #fff;
  mix-blend-mode: darken;
  filter: blur(8px) contrast(100) brightness(1) grayscale(1);
  box-shadow: 0 0 0 50px #fff;
  rotate: 20deg;
  position: fixed;
  top: -5%;
  left: 45%;
  z-index: -1;
}

#smallSplash6{
  width: 100px;
  height: 100px;
  background: 
    repeating-conic-gradient(#000 0 3%, #0000 0 11%),
    repeating-conic-gradient(#0000 0 5%, #000 0 7%) 50% / 60% 60%,
    repeating-conic-gradient(#0000 0 7%, #000 0 9%) 50% / 70% 9%,
    repeating-conic-gradient(#0000 0 12%, #000 0 11%) 50% / 80% 80%,
    radial-gradient(#000 22%, #0000 0), 
    #fff;
  mix-blend-mode: darken;
  filter: blur(4px) contrast(100) brightness(1) grayscale(1);
  box-shadow: 0 0 0 50px #fff;
  rotate: 20deg;
  position: fixed;
  top: 40%;
  left: 30%;
  z-index: -1;
}

#smallSplash7{
  width: 100px;
  height: 100px;
  background: 
    repeating-conic-gradient(#000 0 3%, #0000 0 11%),
    repeating-conic-gradient(#0000 0 5%, #000 0 7%) 50% / 60% 60%,
    repeating-conic-gradient(#0000 0 7%, #000 0 9%) 80% / 179% 9%,
    repeating-conic-gradient(#0000 0 12%, #000 0 11%) 50% / 80% 80%,
    radial-gradient(#000 22%, #0000 0), 
    #fff;
  mix-blend-mode: darken;
  filter: blur(4px) contrast(100) brightness(1) grayscale(1);
  box-shadow: 0 0 0 50px #fff;
  rotate: 4deg;
  position: fixed;
  bottom: 40%;
  right: -2%;
  z-index: -1;
}



@media screen and (max-width: 1000px) { 
  #splash5{
    display: none;
  }
}
/* Splashes ENDS HERE */

/* Splash inspiration from https://alvaromontoro.com/blog/68042/shapes-in-css */



/* NavBar START */

#navBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(227, 227, 227);
  margin: 20px;
  padding: 20px;
  align-items: center;
}


#navbarButtonsSpacing{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}



#navbarLinksFontColor{
  text-decoration: none;
  color:rgb(255, 255, 255);
  font-weight: 650;
}

#favAuthorsColoring{
  color: #000000;
  font-weight: 800;
}

/* NavBar END */

#quotesTitle{
  color: rgb(255, 255, 255);
  margin-top: 40px;
  display: flex;
  justify-content: left;
  margin-left: 80px;
  

}

#tableCentering{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  padding: 80px;
}

#tableHeadPadding{
  padding: 10px;
  border-radius: 25px;
}

#tableDataSpacing{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 125px;
  margin: 5px;
}

#editDeleteSpacing{
  display: flex;
  flex-direction: row;
  gap: 15px;
  
}

#editTitleColoring{
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

#editDeleteButtonsFont{
  font-weight: 700;
  font-family:Arial, Helvetica, sans-serif;
}

#authorNameFont{
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 500;
  text-decoration: underline;
}

#dashboardContentSpacing{
  margin: 10px;
}

#tableHeaderSpacing{
  display: flex;
  flex-direction: row;
  gap: 135px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: x-large;
  color: rgb(255, 255, 255);
  
}

#updatePageCentering{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0px;
}

#createPageCentering{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0px;
}

#createPageFont{
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

#createAndEditLinksFontColor{
  text-decoration: none;
  color:rgb(0, 0, 0);
  font-weight: 650;
}

#cancelSubmitButtonsFont{
  font-weight: 700;
  font-family:Arial, Helvetica, sans-serif;
}

#newAuthorButtonSpacing{
  margin-top: 10px;
  gap: 10px;
}

/* GET STARTED START */

#getStartedBtnStyling{
  text-decoration: none;
  color:rgb(0, 0, 0);
  font-weight: 650;
  z-index: 10;
}

#getStartedIndex{
  z-index: 10;
}

#getStartedPage{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 0;
  z-index: 10;
}

#featuredHeaderStyling{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  margin-bottom: 10px;
}

/* GET STARTED END */


/* Create Page */

#createSubmitButton{
  text-decoration: none;
}

#testDecorationSubmit{
  text-decoration: none;
  list-style: none;
}
/* Create Page end */


#errorMessagesColor{
  color: red;
}

/* #allAuthorsBgColor{
  background-image: linear-gradient( to bottom ,rgb(234, 203, 203), rgb(185, 109, 55), rgb(234, 203, 203));
} */

/* Carousel Wrapper start */
#carouselWrapper{
  margin: auto 900px;
  
}

@media screen and (max-width: 2130px) { 
  #carouselWrapper{
    margin: auto 850px;
  }
}

@media screen and (max-width: 2030px) { 
  #carouselWrapper{
    margin: auto 800px;
  }
}

@media screen and (max-width: 1930px) { 
  #carouselWrapper{
    margin: auto 620px;
  }
}

@media screen and (max-width: 1630px) { 
  #carouselWrapper{
    margin: auto 400px;
  }
}

@media screen and (max-width: 1200px) { 
  #carouselWrapper{
    margin: auto 200px;
  }
}

@media screen and (max-width: 800px) { 
  #carouselWrapper{
    margin: auto 100px;
  }
}

.carousel-caption{
  color: white;
}
/* Carousel Wrapper End */


/* Footer start */

#footerStyling{
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 97%; 
  position: absolute; 
  bottom: 0; 
  height: 2.5rem;
  overflow: hidden;
  z-index: 10;
}

#copyrightPTag{
  color: white;
  margin-top: 10px;
}

#copyrightSpanTag{
  opacity: 0.8; 
  text-transform: uppercase; 
  font-weight: 300; 
  margin: 0px 5px;
  overflow: hidden;
}

#copyrightAnchorTag{
  text-decoration: none; 
  color: white;
  overflow: hidden;
}


/* Footer end */

/* Edit and Create Button Styling START */

#buttonSpacing{
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#updateAndEditLabels{
  color: white;
}

#editAndCreateLabelSpacing{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

#editAndCreateInputAndButtonsCentering{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: normal;
  gap: 15px;
}

/* Edit and Create Button Styling END */


/* Details page styling START */
#detailsPageCentering{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  gap: 30px;
  margin-top: 60px;
}

#homeButtonsFont{
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
}

#detailsTextAlignment{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
/* Details page styling END */

