

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-image: linear-gradient(to right, #09203F  , #537895);
  
}

/* Splashes STARTS HERE */

#splash1{
  width: 300px;
  height: 300px;
  background: 
    repeating-conic-gradient(#000 0 3%, #0000 0 11%),
    repeating-conic-gradient(#0000 0 5%, #000 0 7%) 50% / 60% 60%,
    repeating-conic-gradient(#0000 0 7%, #000 0 9%) 50% / 70% 9%,
    
    radial-gradient(#000 22%, #0000 0), 
    #fff;
  mix-blend-mode: darken;
  filter: blur(8px) contrast(100) brightness(1) grayscale(1);
  box-shadow: 0 0 0 50px #fff;
  rotate: 20deg;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#splash2{
  width: 300px;
  height: 300px;
  background:
    repeating-conic-gradient(#000 0 3%, #0000 0 11%),
    repeating-conic-gradient(#0000 0 5%, #000 0 7%) 50% / 60% 60%,
    repeating-conic-gradient(#0000 0 7%, #000 0 9%) 50% / 70% 70%,
    repeating-conic-gradient(#0000 0 11%, #000 0 12%) -113% / 80% 80%,
    radial-gradient(#000 22%, #0000 0),
    #fff;
  mix-blend-mode: darken;
  filter: blur(9px) contrast(100) brightness(1)  grayscale(1);
  box-shadow: 0 0 0 50px #fff;
  rotate: -20deg;
  position: fixed;
  top: 10%;
  right: 1%;
  z-index: -1;
}

#splash3{
  width: 300px;
  height: 300px;
  background:
    repeating-conic-gradient(#000 0 3%, #0000 0 11%),
    repeating-conic-gradient(#0000 0 5%, #000 0 7%) 50% / 60% 60%,
    repeating-conic-gradient(#0000 0 7%, #000 0 9%) 50% / 70% 70%,
    repeating-conic-gradient(#0000 0 11%, #000 0 12%) -113% / 80% 80%,
    radial-gradient(#000 22%, #0000 0),
    #fff;
  mix-blend-mode: darken;
  filter: blur(10px) contrast(100) brightness(1)  grayscale(1);
  box-shadow: 0 0 0 50px #fff;
  rotate: 50deg;
  position: fixed;
  bottom: 10%;
  right: 20%;
  z-index: -1;
}

#splash4{
  width: 300px;
  height: 300px;
  background:
    repeating-conic-gradient(#000 0 3%, #0000 0 11%),
    repeating-conic-gradient(#0000 0 5%, #000 0 7%) 50% / 60% 60%,
    repeating-conic-gradient(#0000 0 7%, #000 0 9%) 50% / 57% 70%,
    repeating-conic-gradient(#0000 0 12%, #000 0 11%) 50% / 80% 80%,
    radial-gradient(#000 22%, #0000 0),
    #fff;
  mix-blend-mode: darken;
  filter: blur(10px) contrast(100) brightness(1)  grayscale(1);
  box-shadow: 0 0 0 50px #fff;
  rotate: 50deg;
  position: fixed;
  top: 10%;
  left: 7%;
  z-index: -1;
}

#splash5{
  width: 300px;
  height: 300px;
  background: 
    repeating-conic-gradient(#000 0 3%, #0000 0 11%),
    repeating-conic-gradient(#0000 0 5%, #000 0 7%) 50% / 60% 60%,
    repeating-conic-gradient(#0000 0 7%, #000 0 9%) 50% / 70% 9%,
    
    radial-gradient(#000 22%, #0000 0), 
    #fff;
  mix-blend-mode: darken;
  filter: blur(8px) contrast(100) brightness(1) grayscale(1);
  box-shadow: 0 0 0 50px #fff;
  rotate: 20deg;
  position: fixed;
  top: -5%;
  left: 45%;
  z-index: -1;
}

#smallSplash6{
  width: 100px;
  height: 100px;
  background: 
    repeating-conic-gradient(#000 0 3%, #0000 0 11%),
    repeating-conic-gradient(#0000 0 5%, #000 0 7%) 50% / 60% 60%,
    repeating-conic-gradient(#0000 0 7%, #000 0 9%) 50% / 70% 9%,
    repeating-conic-gradient(#0000 0 12%, #000 0 11%) 50% / 80% 80%,
    radial-gradient(#000 22%, #0000 0), 
    #fff;
  mix-blend-mode: darken;
  filter: blur(4px) contrast(100) brightness(1) grayscale(1);
  box-shadow: 0 0 0 50px #fff;
  rotate: 20deg;
  position: fixed;
  top: 40%;
  left: 30%;
  z-index: -1;
}

#smallSplash7{
  width: 100px;
  height: 100px;
  background: 
    repeating-conic-gradient(#000 0 3%, #0000 0 11%),
    repeating-conic-gradient(#0000 0 5%, #000 0 7%) 50% / 60% 60%,
    repeating-conic-gradient(#0000 0 7%, #000 0 9%) 80% / 179% 9%,
    repeating-conic-gradient(#0000 0 12%, #000 0 11%) 50% / 80% 80%,
    radial-gradient(#000 22%, #0000 0), 
    #fff;
  mix-blend-mode: darken;
  filter: blur(4px) contrast(100) brightness(1) grayscale(1);
  box-shadow: 0 0 0 50px #fff;
  rotate: 4deg;
  position: fixed;
  bottom: 40%;
  right: -2%;
  z-index: -1;
}



@media screen and (max-width: 1000px) { 
  #splash5{
    display: none;
  }
}
/* Splashes ENDS HERE */

/* Splash inspiration from https://alvaromontoro.com/blog/68042/shapes-in-css */



/* NavBar START */

#bookLogoSvg{
  margin-right: 20px;
}

nav{
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 3%;
  height: 70px;
  background: linear-gradient( to right, #ffffff, #585653);
  border: 1px solid rgb(255, 255, 255);
  box-shadow: rgb(255, 255, 255) 0px 0px 4px 4px;
}

nav #navName{
  color: rgb(0, 0, 0);
  font-weight: 800;
  text-decoration: none;
  font-size: 2.5rem;
  transition: 800ms;
  width: 40%;
  height: 100%;
  float: left;
  align-items: center;
  display: flex;
}

nav #nav-links{
  float: right;
  margin: 0;
  padding: 0;
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}

nav #nav-links #linksTag{
  list-style: none;

}

nav #nav-links #linksTag #linksColor{
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 20px;
  font-weight: 900;
}

nav #nav-links #navName{
  display: block;
}

#nav-toggle{
  position: absolute;
  top: -100px;
}

nav #burger-icon{
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav #burger-icon #line{
  width: 30px;
  height: 5px;
  background-color: #ffffff;
  margin: 5px;
  border-radius: 3px;
  transition: all .2s ease-in-out;
}

nav #nav-links #linksTag #linksColor.active{
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}


nav #nav-links #linksTag #linksColor:hover{
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: all .2s ease-in-out;
}

#nav-links {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

@media screen and (min-width: 1425px){
  .homeButtonTag{ 
      display: none;
  }
}

@media screen and (max-width: 1800px){
  nav #nav-links{
      width: 30%;
  }
}

@media screen and (max-width: 1425px){
  nav #navName{ 
      float: none;
      width: auto;
      justify-content: left;
      margin-left: 2%;
  }

  nav #nav-links #linksTag #linksColor{
      color: rgb(255, 255, 255);
      font-weight: 1000;
  }

  nav #nav-links #linksTag #linksColor:hover{
    background: rgb(73,107,136);
    color: rgb(255, 255, 255);
    transition: all .2s ease-in-out;
  }


  nav #nav-links{ 
      float: none;
      position: fixed;
      z-index: 9;
      left: 0;
      right: 0;
      bottom: 100%;
      top: 70px;
      width: auto;
      height: auto;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: rgb(0, 0, 0, 0.8);
      overflow: hidden;
      box-sizing: border-box;
      transition: all .6s ease-in-out;
  }

  nav #nav-links #linksTag{
      font-size: 40px;
  }
  nav :checked ~ #nav-links{
      bottom: 0;
  }

  nav #burger-icon{
      display: block;
  }

  nav :checked ~ #burger-icon #line:nth-child(1){
      transform: translateY(10px) rotate(225deg);
  }

  nav :checked ~ #burger-icon #line:nth-child(3){
      transform: translateY(-10px) rotate(-225deg);
  }

  nav :checked ~ #burger-icon #line:nth-child(2){
      opacity: 0;
  }


}

@media screen and (max-width: 600px){
  nav #navName{ 
      font-size: 2.0rem;
  }

  nav #nav-links #linksTag{
      font-size: 30px;
  }

}

@media screen and (max-width: 330px){
  nav #navName{ 
      font-size: 1.5rem;
  }

  nav #nav-links #linksTag{
      font-size: 20px;
  }

}


@media screen and (max-width: 600px) { 
  #bookLogoSvg{
    display: none;
  }
}

#loggedInNavBarButton{
  cursor: pointer;
}

#loginLogoutButtonsStyling{
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 20px;
  font-weight: 900;
}

#loginLogoutDropDownFont{
  font-weight: 900;
}

#loginLogoutButtonsStyling:hover{
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: all .2s ease-in-out;
  border: black;
}

@media screen and (max-width: 1425px){

  #loginLogoutButtonsStyling{
    padding: 10px 10px;
    font-size: xx-large;
  }


  #loginLogoutButtonsStyling:hover{
    background: rgb(73,107,136);
    color: rgb(255, 255, 255);
    transition: all .3s ease-in-out;
  }

}

@media screen and (max-width: 500px){

  #loginLogoutButtonsStyling{
    padding: 5px 10px;
    font-size: x-large;
  }

}





/* NavBar END */

/* Dashboard Table START */

#quotesTitle{
  color: rgb(255, 255, 255);
  margin-top: 40px;
  display: flex;
  justify-content: left;
  margin-left: 80px;
}

#tableCentering{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  padding: 80px;
}

#tableHeadPadding{
  padding: 10px;
  border-radius: 25px;
}

#tableDataSpacing{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 125px;
  margin: 5px;
}

#editDeleteSpacing{
  display: flex;
  flex-direction: row;
  gap: 15px;
  
}

#editTitleColoring{
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

#editDeleteButtonsFont{
  font-weight: 700;
  font-family:Arial, Helvetica, sans-serif;
}

#authorNameFont{
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 500;
  text-decoration: underline;
}

#dashboardContentSpacing{
  margin: 10px;
}

#tableHeaderSpacing{
  display: flex;
  flex-direction: row;
  gap: 135px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: x-large;
  color: rgb(255, 255, 255);
}


@media screen and (max-width: 380px){
  #tableDataSpacing{
    gap: 40px;
  }

  #tableHeaderSpacing{
    gap: 45px;
  }
}

/* Dashboard Table END */


#createPageCentering{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  margin-top: 70px;
  background-color: rgba(26, 25, 25, 0.8);
  padding: 140px;
}

#createPageFont{
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

#createAndEditLinksFontColor{
  text-decoration: none;
  color:rgb(0, 0, 0);
  font-weight: 650;
}

#cancelSubmitButtonsFont{
  font-weight: 700;
  font-family:Arial, Helvetica, sans-serif;
}

#newAuthorButtonSpacing{
  margin-top: 10px;
  gap: 10px;
}

/* GET STARTED START */


#getStartedFeaturedAuthorsPTag{
  margin: 20px 75px;
}




#getStartedPage{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  z-index: 11;
}

#getStartedBtnStyling{
  text-decoration: none;
  color:rgb(0, 0, 0);
  font-weight: 650;
  z-index: 11;
}

#getStartedIndex{
  z-index: 9;
}

#featuredHeaderStyling{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 100px;
}

/* GET STARTED END */


/* Create Page */

#createSubmitButton{
  text-decoration: none;
}

#testDecorationSubmit{
  text-decoration: none;
  list-style: none;
}
/* Create Page end */


#errorMessagesColor{
  color: red;
  font-size: large;
  margin-top: 10px;
}

/* #allAuthorsBgColor{
  background-image: linear-gradient( to bottom ,rgb(234, 203, 203), rgb(185, 109, 55), rgb(234, 203, 203));
} */

/* #getStartedCarouselControlTabs{
  color: chartreuse;
} */

/* Carousel Wrapper start */
#carouselWrapper{
  margin: auto 1000px;
  
}

@media screen and (max-width: 2300px) { 
  #carouselWrapper{
    margin: auto 800px;
  }
}

@media screen and (max-width: 2130px) { 
  #carouselWrapper{
    margin: auto 850px;
  }
}

@media screen and (max-width: 2030px) { 
  #carouselWrapper{
    margin: auto 750px;
  }
}

@media screen and (max-width: 1930px) { 
  #carouselWrapper{
    margin: auto 720px;
  }
}

@media screen and (max-width: 1830px) { 
  #carouselWrapper{
    margin: auto 620px;
  }
}

@media screen and (max-width: 1630px) { 
  #carouselWrapper{
    margin: auto 400px;
  }
}

@media screen and (max-width: 1200px) { 
  #carouselWrapper{
    margin: auto 200px;
  }
}

@media screen and (max-width: 800px) { 
  #carouselWrapper{
    margin: auto 100px;
  }
}

.carousel-caption{
  color: rgb(255, 255, 255);
}
/* Carousel Wrapper End */


/* Footer start */

#footerStyling{
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%; 
  position: absolute; 
  bottom: 0; 
  height: 2.5rem;
  overflow: hidden;
  z-index: 9;
}

#copyrightPTag{
  color: white;
  margin-top: 10px;
}

#copyrightSpanTag{
  opacity: 0.8; 
  text-transform: uppercase; 
  font-weight: 300; 
  margin: 0px 5px;
  overflow: hidden;
}

#copyrightAnchorTag{
  text-decoration: none; 
  color: white;
  overflow: hidden;
}

@media screen and (max-width: 400px) { 
  #footerStyling{
    width: 65%; 
    left: 100px;
  }
}

/* Footer end */

/* Edit and Create Button Styling START */

#buttonSpacing{
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#updateAndEditLabels{
  color: white;
}

#updatePageCentering{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 140px;
  background-color: rgba(26, 25, 25, 0.8);
  padding: 40px;
}

#editAndCreateLabelSpacing{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

#editAndCreateInputAndButtonsCentering{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: normal;
  gap: 15px;
}

/* Edit and Create Button Styling END */


/* Details page styling START */
#detailsPageCentering{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  gap: 30px;
  margin-top: 70px;
  background-color: rgba(26, 25, 25, 0.8);
  padding: 140px;
}

#homeButtonsFont{
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
}

#detailsTextAlignment{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
/* Details page styling END */

/* Login Styling START */

#loginWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  margin-top: 70px;
  background-color: rgba(26, 25, 25, 0.8);
  padding: 140px;
}

#loginSectionStyling{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#loginInputAndButtonsCentering{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: normal;
  gap: 15px;
}

#loginLabelsSpacing{
  display: flex;
  justify-content: space-between;
  gap: 10px ;
}

/* Login Styling END */



/* Register Styling START */

#registerWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  margin-top: 70px;
  background-color: rgba(26, 25, 25, 0.8);
  padding: 140px;
}

#registerSectionStyling{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#registerInputAndButtonsCentering{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: normal;
  gap: 15px;
}

#registerLabelsSpacing{
  display: flex;
  justify-content: space-between;
  gap: 10px ;
}





/* Register Styling END */